<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>droplet</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.hikaruegashira.opentty</string>
	<key>CFBundleName</key>
	<string>opentty</string>
	<key>CFBundleDisplayName</key>
	<string>opentty</string>
	<key>CFBundleVersion</key>
	<string>VERSION</string>
	<key>CFBundleShortVersionString</key>
	<string>VERSION</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Text Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
				<string>public.utf8-plain-text</string>
				<string>public.utf16-plain-text</string>
				<string>public.utf16-external-plain-text</string>
				<string>public.source-code</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.c-source</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-plus-plus-header</string>
				<string>public.objective-c-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.swift-source</string>
				<string>public.assembly-source</string>
				<string>public.make-source</string>
				<string>public.nasm-assembly-source</string>
				<string>public.lex-source</string>
				<string>public.mig-source</string>
				<string>public.xml</string>
				<string>public.html</string>
				<string>public.xhtml</string>
				<string>public.json</string>
				<string>public.yaml</string>
				<string>public.css</string>
				<string>public.comma-separated-values-text</string>
				<string>public.tab-separated-values-text</string>
				<string>public.log</string>
				<string>public.data</string>
				<string>public.content</string>
				<string>com.sun.java-source</string>
				<string>com.netscape.javascript-source</string>
				<string>com.apple.property-list</string>
				<string>com.apple.xml-property-list</string>
				<string>com.apple.binary-property-list</string>
				<string>com.apple.ascii-property-list</string>
				<string>com.apple.dt.document.ascii-property-list</string>
				<string>com.apple.dt.document.script-suite-property-list</string>
				<string>com.apple.dt.document.script-terminology-property-list</string>
				<string>com.apple.applescript.text</string>
				<string>com.apple.log</string>
				<string>net.daringfireball.markdown</string>
				<string>org.khronos.glsl.shader-source</string>
				<string>org.vim.vim-script</string>
				<string>org.iso.sql</string>
				<string>org.coffeescript.coffeescript</string>
				<string>org.typescriptlang.typescript</string>
				<string>org.typescriptlang.typescriptreact</string>
				<string>com.microsoft.typescript</string>
				<string>org.rust-lang.rust</string>
				<string>org.golang.go</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.folder</string>
				<string>public.directory</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
